.invisible {
  pointer-events: none;
  user-select: none;
  /* Chrome in particular dislikes doing the right thing
   * with carets and inline elements when contenteditable
   * is 'false'. See e.g. https://github.com/ProseMirror/prosemirror/issues/1061
   */
  display: inline-block;
  position: relative;
}

.invisible:before {
  caret-color: inherit;
  color: gray;
  display: inline-block;
  font-weight: 400;
  font-style: normal;
  line-height: 1em;
  width: 0;
}

.invisible--space:before {
  content: "·";
}

.invisible--break:before {
  content: "¬";
}

.invisible--par:before {
  content: "¶";
}

.invisible--nb-space:before {
  font-size: 15px;
  vertical-align: bottom;
  content: "^";
  position: absolute;
  top: -6px;
  left: -1px;
}
