.invisible {
  /* Chrome in particular dislikes doing the right thing
   * with carets and inline elements when contenteditable
   * is 'false'. See e.g. https://github.com/ProseMirror/prosemirror/issues/1061
   */
  display: inline;
  position: relative;
  pointer-events: none;
}

.invisible:before {
  position: relative;
  caret-color: inherit;
  color: gray;
  display: inline-block;
  font-weight: 400;
  font-style: normal;
  line-height: initial;
  width: 0;
  top: 0;
  left: 0;
  z-index: 1;
}

.invisible__selected-marker {
  position: absolute;
  caret-color: inherit;
  background-color: #dcdcdc;
  display: inline-block;
  font-weight: 400;
  font-style: normal;
  line-height: initial;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  z-index: 0;
}

.ProseMirror-focused .invisible__selected-marker {
  background-color: #b4d9ff;
}

.ProseMirror-focused .invisible--is-selected::before {
  background-color: #b4d8ff;
}

.invisible--is-selected::before {
  background-color: #dcdcdc;
}

.invisible--space:before {
  content: "·";
}

.invisible--break:before {
  content: "¬";
}

.invisible--par:before {
  content: "¶";
}

.invisible--heading:before {
  content: "¶";
}

.invisible--nb-space {
  vertical-align: text-bottom;
}

.invisible--nb-space:before {
  font-size: 15px;
  content: "^";
  position: absolute;
  top: 9px;
  left: -1px;
}
